.idea
*.iws
*.iml
*.ipr
.vscode/

backend/config/application.properties
backend/target/

database/mysql-server/data/
database/hadoop/dfs/namenode/
database/hadoop/dfs/datanode/

frontend/node_modules/
frontend/dist/
frontend/package-lock.json
